* {

  box-sizing: border-box;
}
body
{
    margin: 0 ;
    padding: 0;
   
    background-image: url(../img/FINAL.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
  
}

}
h1{
    font-size: 40px;
}
h1{
    text-align: center;
    color: rgb(146,249,255);
    font-family: "Broadway";
    font-size: 40px;
}
h2{
    text-align: center;
    color: floralwhite;
    font-family: "Candara Light";
    font-size: 20px;
   
   
}
.container{
    background-color: rgba(79, 1, 80, 0.4);
    height: 400px;
    width: 400px;
    padding: 20px;
    text-align: center;
    color: aliceblue;
    font-family: "Californian FB";
    position: absolute;
    font-size: 30px;
    left: 25%;
    top: 30%
        
        
    
    
}
img{
    width: 20px;
    height: 20px;
}
a{
    color: aliceblue;
    text-decoration: none
}
a:hover{
    color: antiquewhite;
    text-decoration: underline;
}
form{
    position:absolute;
    top:30%;
    text-align: center;
    font-size: 25px;
   left:52%;
    height:400px;
    padding: 30px;
    width:400px;
    background-color: white;
    font-family: "Candara Light";
    color: rgb(79, 1, 80);
   -moz-box-shadow: 5px 5px 7px black;
-webkit-box-shadow: 5px 5px 7px black;
box-shadow: 5px 5px 7px black;}
}
textarea{
    resize: none;
}

.head
{
    text-align: center;
}
.button
{
    background-color:rgb(79, 1, 80); 
    text-align: center;
    font-size: 20px;
    width: 300px;
    height: 40px;
    font-family:"Candara Light"; 
    color: aliceblue;
}

textarea{
    font-family: "Bell MT";
    color: darkgrey;
    font-size:16px;
    }


.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

