body {

  font-family:"Broadway";
  background-color: floralwhite;
}
h1 {
  color: #046271;
  background-color: #d5c4b8;
  border: 5px solid white;
}
p {
    font-family:"Californian FB";
    background-color: #73cada;
    color: #6a6352;
  } 
