*{
    margin: 0;
}
body{

  font-family:"Broadway";
  background-color: floralwhite;
}
.header {
    color: #046271;
    background-color: #d5c4b8;
    border: 5px solid white;
    padding: 1rem;
    text-align: center;
}
.headernav{
    font-family:"Californian FB";
    font-size:26px;
    background-color: #73cada;
    color: #6a6352;
    padding: 1rem;
    text-align: center;
    border: 5px solid white;
    
} 

.navigation{
    overflow: hidden;
    font-size: 2rem;
    position: relative;
    text-align: center;
    border: 5px solid white;
    background-color: #333;
    padding: 4px;
}

.navigation a{
    text-decoration: none;
    padding: 14px 16px;
    color: whitesmoke;
    background-color: #73cada;
    transition: 0.3s;
}

.navigation a:hover {
  background-color: #ddd;
  color: black;
}