* {

  box-sizing: border-box;
}
body
{
    margin: 0 ;
    padding: 0;
    background-image: url(../img/background2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}
.container{
    
    margin: 0 auto;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 200px 40px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.tab{
    
}

.tab ul
{
    float: Center;
    margin-top: 25px;
    margin-right: 100px;
}
.tab ul li
{
    display: inline-block;
}
.tab ul li a
{   font-family: "Rockwell";
    text-decoration: none;
    color: rgb(131, 245, 18);
    padding: 5px 20px;
    border: 1px solid;
    border-radius: 30px;
    transition: 0.6s ease;

}
.tab ul li a:hover{
    background-color: #046271;
    color:whitesmoke;
}
.intro
{background-image:url("https://cdn.wallpapersafari.com/90/24/sUnEtI.jpg");
     background-repeat: no-repeat;
    font-family: "Broadway";
    grid-column: 1 / 2;    
    color: rgb(146,249,255);
    margin-left: 100px;
}
.catagory ul
{
    grid-column: 1 / 2; 
    
    margin-left: 0;
    margin-top: 65px;
}
.catagory ul li
{
    display: inline-block;
}
.catagory ul li a
{
    text-decoration: none;
    color: rgb(63,224,208);
    padding: 5px 37px;
    border: 1px solid;
    border-radius: 20px;
    transition: 0.6s ease;
}
.catagory ul li a:hover{
    background-color: #d5c4b8;
    color:#6a6352;
}
.catagory
{

    grid-column: 1 / 3; 
}



td {
    padding-top: 10PX;
    padding-left: 20px;
    width: 10%;
        
}


.newsbody{
     font-family: "Candara Light";
    color: aliceblue;
    grid-column: 1 / 3; 
    padding-left: 2rem;
    padding-right: 2rem;
   
}

.newsbodygrid{
   
    font-size: 17px;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
}

.newsbodygrid > div {
    background: rgba(79, 1, 80, 0.4);
    padding: 1rem;
    border: 2px solid white;
}

.tendinglist{
      height: 100%;
}
.trendinglist li {
    font-family: "Charlemagne Std";
    color:rgb(248,222,126);
    font-size: 1.5rem;
    text-align: center;
    padding: 6px;
    
    
}



