* {

  box-sizing: border-box;
}
body
{
    margin: 0 ;
    padding: 0;
    background-image: url(../img/background2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    display:flex;
    justify-content:center;
}
.container{

    margin: 0 auto;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 200px 40px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.tab{

}

.tab ul
{
    float: Center;
    margin-top: 25px;
    margin-right: 100px;
}
.tab ul li
{
    display: inline-block;
}
.tab ul li a
{   font-family: "Rockwell";
    text-decoration: none;
    color: rgb(131, 245, 18);
    padding: 5px 20px;
    border: 1px solid;
    border-radius: 30px;
    transition: 0.6s ease;

}
.tab ul li a:hover{
    background-color: #046271;
    color:whitesmoke;
}
.intro
{background-image:url("https://cdn.wallpapersafari.com/90/24/sUnEtI.jpg");
     background-repeat: no-repeat;
    font-family: "Broadway";
    grid-column: 1 / 2;
    color: rgb(146,249,255);
    margin-left: 100px;
}
.catagory ul
{
    grid-column: 1 / 2;

    margin-left: 0;
    margin-top: 90px;
}
.catagory ul li
{
    display: inline-block;
}
.catagory ul li a
{
    text-decoration: none;
    color: rgb(63,224,208);
    padding: 5px 37px;
    border: 1px solid;
    border-radius: 20px;
    transition: 0.6s ease;
}
.catagory ul li a:hover{
    background-color: #d5c4b8;
    color:#6a6352;
}
.catagory
{

    grid-column: 1 / 3;
}



td {
    padding-top: 10PX;
    padding-left: 20px;
    width: 10%;

}

.slideshow1

    {
        background-image: url("../img/ENTRT.jpeg");
        height: 199px;
        width: 420px;
        animation : slide 9s infinite linear;
    }
@keyframes slide{
    0%{background-image: url("../img/ENTRT.jpeg")}
    45%{background-image: url("../img/ENTRT.jpeg")}
    75%{background-image: url("../img/ENTRT.jpeg")}

}


.pnewsbody{
     font-family: "Candara Light";
    color: aliceblue;
    grid-column: 1 / 3;
    padding-left: 2rem;
    padding-right: 2rem;

}

.pnewsbodygrid{

    font-size: 17px;
    text-align: start;
    display: grid;
    grid-template-columns:  repeat(3,1fr) ;
    grid-gap: 20px;


}

.A {
    background: rgba(6,8,34,0.4);
    padding: 1rem;
}
.B{
    background: rgba( 45,60,870,0.3);
    padding: 1rem;
}
.C{
     background: rgba(88,91,123, 0.4);
    padding: 1rem;
}
.D{
     background: rgba(10,454,224, 0.2);
    
}



.events {
    font-family: "Charlemagne Std";
    color:rgb(248,222,126);
    font-size: 20px;
    text-align: center;
    padding: 1px;
    
    


}
blockquote{
    color: darkkhaki;
    font-family: "Informal Roman";
    font-size: 20px;
}